---
layout: default
---

<div class="home">
  <div class="posts-container">
    {% assign postsByYear = site.posts | where: "type", "blog" | group_by_exp: "post", "post.date | date: '%Y'" %}

    {% for year in postsByYear %}
      <h2 class="year-heading">{{ year.name }}</h2>
      <ol class="post-list">
        {% for post in year.items %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ol>
    {% endfor %}
  </div>
</div>

