<div class="site-header">
    <div class="site-tagline">
        {{ site.title }}
        <label class="matrix-switch" title="matrix-me">
            <input type="checkbox" id="matrix-toggle" onchange="window.MatrixRain.toggle()">
            <span class="matrix-slider"></span>
        </label>
    </div>

    <nav class="site-nav">
        <input type="checkbox" id="nav-trigger" class="nav-trigger" />
        <label for="nav-trigger" class="menu-icon">
            <i class="fa fa-navicon fa-lg"></i>
        </label>

        <div class="trigger">
            <a class="page-link" href="{{ site.baseurl }}/">Home</a>
            {% for page in site.pages %} {% if page.type == 'navigation' %} {%
            if page.title %}
            <a class="page-link" href="{{ page.url | prepend: site.baseurl }}"
                >{{ page.title }}</a
            >
            {% endif %} {% endif %} {% endfor %}
        </div>
    </nav>
</div>
