/* Site Header
 * ============================================== */
    .site-header {
        height: 55px;
        background-color: #F5F5F5;
        position: relative;
        width: 100%;
    }

    .site-header a {color: $brand-color};

    .site-nav {
        padding-top: 16px;
        float: right;
        margin-right: 25px;
        text-transform: uppercase;

        .menu-icon {
            display: none;
        }

        @include media-query($on-palm) {
            position: absolute;
            top: 3px;
            right: 3px;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;

            .menu-icon {
                display: block;
                float: right;
                width: 50px;
                height: 30px;
                line-height: 0;
                text-align: center;
            }

            .trigger {
                clear: both;
                display: none;
            }

            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
            }

            .page-link {
                display: block;
                padding: 5px 10px;
            }
        }

        .page-link {
            font-family: 'Open Sans';
            font-weight: 700 !important;
            line-height: $base-line-height;
            letter-spacing: 0.05em;


            &:not(:first-child) {
                    margin-left: 20px;
            }

            &:hover {
                opacity: 0.8
            };
        }
}

/* Site Footer
 * ============================================== */
    .af-footer {
        padding-bottom: 3em;
        margin: auto;
        font-size: 12px;
        font-family: Open Sans;
        color: #959595;
    }

    .af-footer img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-bottom: 3px;
  }


    /* Site footer */

    .wrap {
      max-width: 800px;
      padding: 0 30px;
      margin: 0 auto;
      zoom: 1;
    }

    .site-footer {
      border-top: 1px solid #e8e8e8;
      padding: 30px 0;
    }

    .footer-heading {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -.5px;
      margin-bottom: 15px;
    }

    .site-footer .column { float: left; margin-bottom: 15px; }

    .footer-col-1 {
      width: 270px; /*fallback*/
      width: -webkit-calc(35% - 10px);
      width: -moz-calc(35% - 10px);
      width: -o-calc(35% - 10px);
      width: calc(35% - 10px);
      margin-right: 10px
    }
    .footer-col-2 {
      width: 175px; /*fallback*/
      width: -webkit-calc(23.125% - 10px);
      width: -moz-calc(23.125% - 10px);
      width: -o-calc(23.125% - 10px);
      width: calc(23.125% - 10px);
      margin-right: 10px
    }
    .footer-col-3 {
      width: 335px; /*fallback*/
      width: -webkit-calc(41.875%);
      width: -moz-calc(41.875%);
      width: -o-calc(41.875%);
      width: calc(41.875%);
    }

    .site-footer ul { list-style: none; }

    .site-footer li,
    .site-footer p {
      font-size: 15px;
      letter-spacing: -.3px;
      color: #828282;
    }

    .github-icon-svg,
    .twitter-icon-svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
    }


/* Individual Posts
 * ============================================== */
    .page-content {
        padding: $spacing-unit 0;
        text-align: justify;
    }

    .page-heading {
        font-size: 20px;
        padding-top: 2px;
    }

/* Archive
 * ============================================== */
    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            display: block;
            padding: 0.1em 1.5em;
        }

    }

    .post-link {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: -1px;
        color: #454545;
        display: block;
        width: 100%;

        @include media-query($on-palm) {
            font-size: 1.33em;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color-light;
        text-transform: uppercase;
        display: inline-block;
    }

/* Post Format
 * ============================================== */
    .post-header {
        margin-bottom: $spacing-unit;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;
    }

    .post-content {
        margin-bottom: $spacing-unit;
    }
