/* Site Header
 * ============================================== */
    .site-header {
        background-color: #1e2939;
        border-bottom: 1px solid $brand-color;
        padding: 1em 2em;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-query($on-palm) {
            padding: 1em;
        }
    }

    .site-header a {
        color: $brand-color;
    }

    .site-tagline {
        color: $accent-cyan;
        font-size: 24px;
        font-family: $base-font-family;
        font-weight: bold;
        line-height: 1.3;
        flex: 1;
        padding-right: 1em;
    }

    .site-nav {
        text-transform: uppercase;
        flex-shrink: 0;

        .nav-trigger {
            display: none;
        }

        .menu-icon {
            display: none;
        }

        .trigger {
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            align-items: center;
        }

        @include media-query($on-palm) {
            position: relative;
            background-color: $background-color;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            padding: 5px;

            .menu-icon {
                display: block;
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
            }

            .trigger {
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                flex-direction: column;
                align-items: stretch;
                gap: 0;
                padding-top: 5px;
                background-color: $background-color;
                border: 1px solid $grey-color-light;
                border-radius: 5px;
                min-width: 150px;
            }

            .nav-trigger:checked ~ .trigger,
            &:hover .trigger {
                display: flex;
            }

            .page-link {
                display: block;
                padding: 8px 12px;
                text-align: right;
            }
        }

        .page-link {
            font-family: $base-font-family;
            font-weight: 700;
            line-height: $base-line-height;
            letter-spacing: 0.05em;
            white-space: nowrap;

            &:hover {
                opacity: 0.8;
            }
        }
    }

/* Site Footer
 * ============================================== */
    .af-footer {
        padding-bottom: 3em;
        margin: auto;
        font-size: 12px;
        font-family: $base-font-family;
        color: #959595;
    }

    .af-footer img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-bottom: 3px;
  }


    /* Site footer */

    .wrap {
      max-width: 800px;
      padding: 0 30px;
      margin: 0 auto;
      zoom: 1;
    }

    .site-footer {
      border-top: 1px solid $brand-color;
      padding: 30px 0;
      background-color: #1e2939;
      flex-shrink: 0;
    }

    .footer-heading {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: -.5px;
      margin-bottom: 15px;
    }

    .site-footer .column { float: left; margin-bottom: 15px; }

    .footer-col-1 {
      width: 270px; /*fallback*/
      width: -webkit-calc(35% - 10px);
      width: -moz-calc(35% - 10px);
      width: -o-calc(35% - 10px);
      width: calc(35% - 10px);
      margin-right: 10px
    }
    .footer-col-2 {
      width: 175px; /*fallback*/
      width: -webkit-calc(23.125% - 10px);
      width: -moz-calc(23.125% - 10px);
      width: -o-calc(23.125% - 10px);
      width: calc(23.125% - 10px);
      margin-right: 10px
    }
    .footer-col-3 {
      width: 335px; /*fallback*/
      width: -webkit-calc(41.875%);
      width: -moz-calc(41.875%);
      width: -o-calc(41.875%);
      width: calc(41.875%);
    }

    .site-footer ul { list-style: none; }

    .site-footer li,
    .site-footer p {
      font-size: 15px;
      letter-spacing: -.3px;
      color: $text-color;
    }

    .github-icon-svg,
    .twitter-icon-svg {
      display: inline-block;
      width: 16px;
      height: 16px;
      position: relative;
      top: 3px;
    }


/* Individual Posts
 * ============================================== */
    .page-content {
        padding: $spacing-unit 0;
        text-align: left;
        flex: 1 0 auto;
    }

    .page-heading {
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: -1px;
        padding-top: 2px;
    }

/* Archive
 * ============================================== */
    .home {
        padding: 0;
    }

    .posts-container {
        background-color: #0a0a0a;
        border: 1px solid rgba(189, 147, 249, 0.2);
        border-radius: 8px;
        padding: 1.5em;
    }

    .year-heading {
        font-weight: bold;
        font-size: 1.5em;
        letter-spacing: -1px;
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0.5em;
    }

    .year-heading:not(:first-child) {
        margin-top: 1.5em;
    }

    .post-list {
        margin-left: 2em;
        list-style: decimal;
        counter-reset: item;

        > li {
            display: list-item;
            padding: 0.3em 0;
            margin-bottom: 0.5em;
        }

    }

    .post-link {
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: -1px;
        color: $accent-cyan;
        display: block;

        @include media-query($on-palm) {
            font-size: 1.33em;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color-light;
        text-transform: uppercase;
        display: inline-block;
    }

/* Post Format
 * ============================================== */
    .post-header {
        margin-bottom: $spacing-unit;
        padding: 1.5em;
        background-color: #0a0a0a;
        border: 1px solid rgba(189, 147, 249, 0.2);
        border-radius: 8px;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1.3;
        color: #53eafd;
    }

    .post-content {
        margin-bottom: $spacing-unit;
        padding: 1.5em;
        background-color: #0a0a0a;
        border: 1px solid rgba(189, 147, 249, 0.2);
        border-radius: 8px;
    }
