---
layout: default
---

<div>

<ul class="timeline">
  {% for page in site.pages %}

    {% capture cycling_timeline_inverted_class %}
      {% cycle '','timeline-inverted' %}
    {% endcapture %}

    {% if page.type == 'timeline-entry' %}
      <li class={{ cycling_timeline_inverted_class }}>
        <div class="timeline-badge">{{ page.date | date: '%Y' }}</div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title">
                <a href="{{ page.title-link }}" target="_blank">
                {{ page.title }}
              </a>
            </h4>
          </div>
          <div class="timeline-body">
              <b><p>{{ page.subtitle }}<p></b>
            <small>
              <p> {{ page.line1 }}</p>
              <p> {{ page.line2 }}</p>
              <p> {{ page.line3 }}</p>
              <p> {{ page.line4 }}</p>
              <p> {{ page.line5 }}</p>
            </small>
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ul>

</div>
